.Mittente {
    background-color: #ffa500;
    text-align: right;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    width: 50%;
    position: relative;
    right: 0;
    left: 45%;
}

.z {
    z-index: 100000;
    background: white;
}

.Destinatario {
    background-color: aqua;
}

body {
    background-color: white;
}

.fixed-bottom {
    width: 100%;
    color: white;
}

.MuiButton-label {
    font-weight: bold;
    background-color: #ffa500;
}

.MuiInputBase-root {
    width: 100%;
}

.MuiFormControl-root {
    width: 100%;
    padding: 50px !important;
}

.MuiButtonBase-root {
    width: 100%;
}

.Mittente:nth-last-child(2) {
    margin-bottom: 500px;
}