body,
html {
  width: 100%;
  height: 100%;
  background-image: url("./Immagini/bg.png");
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(252 164 2 / 50%);
}

.txtSx {
  padding-left: 10%;
  font-size: 1.1rem;
  color: rgb(31, 31, 31);
}

.colDx {
  text-align: left !important;
}

.colSx {
  text-align: right !important;
}

.testoGradiente {
  font-weight: 900;
  background-image: linear-gradient(90deg, #ff7b00, #fa0);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#testoHeader {
  font-size: 100px;
  padding-bottom: 2%;
}

#form {
  border-radius: 15px;
  /*box-shadow: rgba(20, 20, 40, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /*background-color: rgb(252 164 2 / 50%);*/
  padding-bottom: 40px;
  padding-top: 20px;
  width: 50%;
  border: 2px;
  border-width: 0.1rem;
  border-color: rgb(252 164 2);
  border-style: solid;
}

#testoSopra {
  font-size: 1.56rem;
}

.button {
  font-weight: 500;
  font-size: 20px;
  padding: 25px 60px;
  border: none;
  background-image: linear-gradient(90deg, #ff7b00 0, #fa0 50%, #ff7b00);
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  cursor: pointer;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.5s;
  background-size: 200% auto;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: inline-block;
}

#signUpButton {
  transform: scale(0.9);
  width: 70%;
}

#signUpButtonPlacement {
  padding-top: 4%;
  padding-bottom: 1%;
}

.fieldPlacement {
  padding: 0.2rem 0;
}

#formRegistrazione {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}

.button:hover {
  background-position: 100%;
  color: #fff;
}
